

<section class="hero_container">
  <div class="hero_search">
    <p>Potepan Shareでまだ体験したことのない旅をしよう</p>
    <%= form_tag(rooms_path, :method => "get") do %>
      <%= search_field :adress_cont, placeholder: "エリア" %>
    <div class="hero_searh_btn">
      <%= submit_tag "探す", :adress => nil, class: "hero_btn" %>
    </div>
    <% end %>
  </div>
</section>

<main class="main_container">
  <div class="main_area">
    <h1 class="main_title">オススメのエリア</h1>
    
    <div class="img_container">
      <div class="img_item">
        <span class="area_name">東京</span>
        <%= link_to image_tag("img_tokyo.jpg", class:"area_img"), :rooms %>
      </div>
      <div class="img_item">
        <span class="area_name">大阪</span>
        <%= link_to image_tag("img_osaka.jpg", class:"area_img"), :rooms %>
      </div>
      <div class="img_item">
        <span class="area_name">京都</span>
        <%= link_to image_tag("img_kyoto.jpg", class:"area_img"), :rooms %>
      </div>
      <div class="img_item">
        <span class="area_name">札幌</span>
        <%= link_to image_tag("img_sapporo.jpg", class:"area_img"), :rooms %>
      </div>
    </div>
  </div>



</main>

<%= link_to "編集画面", edit_user_registration_path %>
<%= link_to "ルーム一覧", :rooms %>
