<h2>ルーム詳細</h2>

<table>
  <tr>
    <td><%= @room.image %></td>
  </tr>
  <tr>
    <td><%= @room.name %></td>
  </tr>
  <tr>
    <td><%= @room.adress %></td>
  </tr>
  <tr>
    <td><%= @room.introduction %></td>
  </tr>
</table>

<p><%= link_to "Topページへ", :mains %></p>