<h2>アカウント編集: <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
    <%= f.label :name, "ユーザーネーム" %><br /> 
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "変更後パスワード" %> <i>(変更が不要な場合は空欄のままにしてください)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上の入力が必要です</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認用" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :image, "アイコン" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :current_password, "変更する場合は現在のパスワードを入力してください" %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>


  <div class="actions">
    <%= f.submit "アカウント更新" %>
  </div>
<% end %>

<h3>アカウントを削除</h3>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %>

<%= link_to "Back", :back %>
